.btn-left {
	width:20%;
	text-align: center;
}

.btn-right {
	width:10%;
}

.btn-plus {
	display: inline-block;
	height: 70px; 
}

input.ng-invalid-enter {
    background-color: pink;
}
input.ng-valid-enter {
    background-color: lightgreen;
}