<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calcualtor</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" href="index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="index.js"></script>
</head>
<body ng-app="myCalcualtor" ng-controller="calcualtor">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<form novalidate>
					<input class="form-control" type="text" ng-model="result" my-directive>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-default btn-left" ng-click="add('7')">7</button>
						<button class="btn btn-default btn-left" ng-click="add('8')">8</button>
						<button class="btn btn-default btn-left" ng-click="add('9')">9</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-default btn-left" ng-click="add('4')">4</button>
						<button class="btn btn-default btn-left" ng-click="add('5')">5</button>
						<button class="btn btn-default btn-left" ng-click="add('6')">6</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-default btn-left" ng-click="add('1')">1</button>
						<button class="btn btn-default btn-left" ng-click="add('2')">2</button>
						<button class="btn btn-default btn-left" ng-click="add('3')">3</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-default btn-left" ng-click="add('0')">0</button>
						<button class="btn btn-default btn-left" ng-click="add('00')">00</button>
						<button class="btn btn-default btn-left" ng-click="add('.')">.</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-default btn-right" ng-click="add('!')">&plusmn</button>
						<button class="btn btn-default btn-right" ng-click="add('#')">C</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-default btn-right" ng-click="add('-')">-</button>
						<button class="btn btn-default btn-right" ng-click="add('*')">&times</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="row">
							<div class="col-lg-2 col-md-2">
								<button class="btn btn-default btn-plus" ng-click="add('+')">+</button>
							</div>
							<div class="col-lg-2 col-md-2">
								<div class="row">
									<button class="btn btn-default" ng-click="add('/')">&divide</button>
								</div>
								<div class="row">
									<button class="btn btn-default" ng-click="add('=')">=</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>